
<%- include('header') %>
<div id="algn">
    <div id="container">
        <p class="head">Login Here</p>
        <form action="/route/login" method="POST" class="input-container">
            <input type="email" placeholder="Enter email" name="email" class="inpt " required>
            <input type="password" placeholder="Enter password" name="password" class="inpt " required>
            <button type="submit" value="submit" class="btn">Login</button>
        </form>
        <p class="footer">Don't have account? <a href="#">Register</a></p>
    </div>
    </div>


    <%- include('footer') %>